<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Entrar</servlet-name>
        <servlet-class>sessiones.Entrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionMesero</servlet-name>
        <servlet-class>sessiones.SessionMesero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>closeSessionMesero</servlet-name>
        <servlet-class>sessiones.closeSessionMesero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MesasController</servlet-name>
        <servlet-class>com.controller.MesasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>Mesa_ventaController</servlet-name>
        <servlet-class>com.controller.Mesa_ventaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoController</servlet-name>
        <servlet-class>com.controller.EmpleadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarEmpleadoController</servlet-name>
        <servlet-class>com.controller.BuscarEmpleadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarMesa_ComandaController</servlet-name>
        <servlet-class>com.controller.BuscarMesa_ComandaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionIdMesa</servlet-name>
        <servlet-class>sessiones.SessionIdMesa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProductoController</servlet-name>
        <servlet-class>com.controller.BuscarProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addVirtual</servlet-name>
        <servlet-class>com.controller.addVirtual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BucarComandasController</servlet-name>
        <servlet-class>com.controller.BucarComandasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelacionComandaControll</servlet-name>
        <servlet-class>com.controller.CancelacionComandaControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProductoController</servlet-name>
        <servlet-class>com.controller.EliminarProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionBarra</servlet-name>
        <servlet-class>sessiones.SessionBarra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionMesasController</servlet-name>
        <servlet-class>com.controller.SeleccionMesasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransladarComandaController</servlet-name>
        <servlet-class>com.controller.TransladarComandaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarMesaController</servlet-name>
        <servlet-class>com.controller.CerrarMesaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltroProductosController</servlet-name>
        <servlet-class>com.controller.FiltroProductosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarAdicionController</servlet-name>
        <servlet-class>com.controller.EliminarAdicionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionIdMesaCerradas</servlet-name>
        <servlet-class>sessiones.SessionIdMesaCerradas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarController</servlet-name>
        <servlet-class>com.controller.insertarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProducto</servlet-name>
        <servlet-class>com.controller.addProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionImprimir</servlet-name>
        <servlet-class>sessiones.SessionImprimir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionIdMesaComanda</servlet-name>
        <servlet-class>sessiones.SessionIdMesaComanda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerEmpleado</servlet-name>
        <servlet-class>com.controller.ControllerEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>closeSessionMeseroCuenta</servlet-name>
        <servlet-class>sessiones.closeSessionMeseroCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirPedido</servlet-name>
        <servlet-class>sessiones.ImprimirPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimeTodo</servlet-name>
        <servlet-class>otrosNOsirve.ImprimeTodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChageCuentas</servlet-name>
        <servlet-class>com.controller.ChageCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancelacion_MesaController</servlet-name>
        <servlet-class>com.controller.Cancelacion_MesaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changecuentas</servlet-name>
        <servlet-class>com.controller.Changecuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarCortesia</servlet-name>
        <servlet-class>sessiones.VerificarCortesia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerInstercervezas</servlet-name>
        <servlet-class>com.controller.ControllerInstercervezas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChengeActivarBarra</servlet-name>
        <servlet-class>com.controller.ChengeActivarBarra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarDescuento</servlet-name>
        <servlet-class>sessiones.VerificarDescuento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignarMesaControlleri</servlet-name>
        <servlet-class>com.controller.AsignarMesaControlleri</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltadiaController</servlet-name>
        <servlet-class>com.controller.AltadiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resetear</servlet-name>
        <servlet-class>com.controller.Resetear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteHoraVenta</servlet-name>
        <servlet-class>com.reportes.ReporteHoraVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteVentaMesas</servlet-name>
        <servlet-class>com.reportes.ReporteVentaMesas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeMesas</servlet-name>
        <servlet-class>com.controller.ChangeMesas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsigarMesaController</servlet-name>
        <servlet-class>com.controller.AsigarMesaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivarBarraEmpleadoController</servlet-name>
        <servlet-class>com.controller.ActivarBarraEmpleadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarCuentasController</servlet-name>
        <servlet-class>com.controller.CerrarCuentasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCuentasController</servlet-name>
        <servlet-class>com.controller.BuscarCuentasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarEmpleadoTotal</servlet-name>
        <servlet-class>com.controller.BuscarEmpleadoTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoCorteControll</servlet-name>
        <servlet-class>com.controller.PagoCorteControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarPDF</servlet-name>
        <servlet-class>CodigoQR.GenerarPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QR</servlet-name>
        <servlet-class>CodigoQR.QR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verQR</servlet-name>
        <servlet-class>CodigoQR.verQR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirDiaImpresion</servlet-name>
        <servlet-class>com.admin.AbrirDiaImpresion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionCambioBarra</servlet-name>
        <servlet-class>sessiones.SessionCambioBarra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProductoCategoriaController</servlet-name>
        <servlet-class>com.controller.BuscarProductoCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>close</servlet-name>
        <servlet-class>sessiones.close</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirCuenta</servlet-name>
        <servlet-class>com.controller.AbrirCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionIdMesaCerradasDescuento</servlet-name>
        <servlet-class>sessiones.SessionIdMesaCerradasDescuento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescuentoController</servlet-name>
        <servlet-class>com.controller.DescuentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarDescuentoCuenta</servlet-name>
        <servlet-class>sessiones.VerificarDescuentoCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteEmail</servlet-name>
        <servlet-class>com.reportes.ReporteEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProductoAc</servlet-name>
        <servlet-class>com.controller.BuscarProductoAc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>com.controller.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProducto</servlet-name>
        <servlet-class>com.controller.ActualizarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionReporte</servlet-name>
        <servlet-class>sessiones.SessionReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CopiaVenta_Comanda</servlet-name>
        <servlet-class>com.controller.CopiaVenta_Comanda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbriCuentasCerrarCuentas</servlet-name>
        <servlet-class>com.controller.AbriCuentasCerrarCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>com.controller.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirComanda</servlet-name>
        <servlet-class>com.impresion1.ImprimirComanda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirTiket</servlet-name>
        <servlet-class>com.impresion1.ImprimirTiket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmindiaController</servlet-name>
        <servlet-class>sessiones.AdmindiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarCuentasCero</servlet-name>
        <servlet-class>sessiones.CerrarCuentasCero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearArchivo</servlet-name>
        <servlet-class>otrosNOsirve.CrearArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adicionalesControlerxml</servlet-name>
        <servlet-class>com.adicionales.adicionalesControlerxml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adicionalesrejuxml</servlet-name>
        <servlet-class>com.adicionales.adicionalesrejuxml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adicionalesregrescos</servlet-name>
        <servlet-class>com.adicionales.adicionalesregrescos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprobarArchivo</servlet-name>
        <servlet-class>com.adicionales.comprobarArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprobarcomandaadicional</servlet-name>
        <servlet-class>com.adicionales.comprobarcomandaadicional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificarreporte</servlet-name>
        <servlet-class>sessiones.verificarreporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Entrar</servlet-name>
        <url-pattern>/Entrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionMesero</servlet-name>
        <url-pattern>/SessionMesero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>closeSessionMesero</servlet-name>
        <url-pattern>/closeSessionMesero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MesasController</servlet-name>
        <url-pattern>/MesasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mesa_ventaController</servlet-name>
        <url-pattern>/Mesa_ventaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoController</servlet-name>
        <url-pattern>/EmpleadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarEmpleadoController</servlet-name>
        <url-pattern>/BuscarEmpleadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarMesa_ComandaController</servlet-name>
        <url-pattern>/BuscarMesa_ComandaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionIdMesa</servlet-name>
        <url-pattern>/SessionIdMesa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProductoController</servlet-name>
        <url-pattern>/BuscarProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addVirtual</servlet-name>
        <url-pattern>/addVirtual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BucarComandasController</servlet-name>
        <url-pattern>/BucarComandasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelacionComandaControll</servlet-name>
        <url-pattern>/CancelacionComandaControll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProductoController</servlet-name>
        <url-pattern>/EliminarProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionBarra</servlet-name>
        <url-pattern>/SessionBarra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionMesasController</servlet-name>
        <url-pattern>/SeleccionMesasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransladarComandaController</servlet-name>
        <url-pattern>/TransladarComandaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarMesaController</servlet-name>
        <url-pattern>/CerrarMesaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltroProductosController</servlet-name>
        <url-pattern>/FiltroProductosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarAdicionController</servlet-name>
        <url-pattern>/EliminarAdicionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionIdMesaCerradas</servlet-name>
        <url-pattern>/SessionIdMesaCerradas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarController</servlet-name>
        <url-pattern>/insertarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProducto</servlet-name>
        <url-pattern>/addProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionImprimir</servlet-name>
        <url-pattern>/SessionImprimir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionIdMesaComanda</servlet-name>
        <url-pattern>/SessionIdMesaComanda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerEmpleado</servlet-name>
        <url-pattern>/ControllerEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>closeSessionMeseroCuenta</servlet-name>
        <url-pattern>/closeSessionMeseroCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirPedido</servlet-name>
        <url-pattern>/ImprimirPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimeTodo</servlet-name>
        <url-pattern>/ImprimeTodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChageCuentas</servlet-name>
        <url-pattern>/ChageCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancelacion_MesaController</servlet-name>
        <url-pattern>/Cancelacion_MesaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changecuentas</servlet-name>
        <url-pattern>/Changecuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarCortesia</servlet-name>
        <url-pattern>/VerificarCortesia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerInstercervezas</servlet-name>
        <url-pattern>/ControllerInstercervezas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChengeActivarBarra</servlet-name>
        <url-pattern>/ChengeActivarBarra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarDescuento</servlet-name>
        <url-pattern>/VerificarDescuento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignarMesaControlleri</servlet-name>
        <url-pattern>/AsignarMesaControlleri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltadiaController</servlet-name>
        <url-pattern>/AltadiaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resetear</servlet-name>
        <url-pattern>/Resetear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteHoraVenta</servlet-name>
        <url-pattern>/ReporteHoraVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteVentaMesas</servlet-name>
        <url-pattern>/ReporteVentaMesas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeMesas</servlet-name>
        <url-pattern>/ChangeMesas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsigarMesaController</servlet-name>
        <url-pattern>/AsigarMesaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivarBarraEmpleadoController</servlet-name>
        <url-pattern>/ActivarBarraEmpleadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarCuentasController</servlet-name>
        <url-pattern>/CerrarCuentasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCuentasController</servlet-name>
        <url-pattern>/BuscarCuentasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarEmpleadoTotal</servlet-name>
        <url-pattern>/BuscarEmpleadoTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoCorteControll</servlet-name>
        <url-pattern>/PagoCorteControll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarPDF</servlet-name>
        <url-pattern>/GenerarPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QR</servlet-name>
        <url-pattern>/QR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verQR</servlet-name>
        <url-pattern>/verQR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirDiaImpresion</servlet-name>
        <url-pattern>/AbrirDiaImpresion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionCambioBarra</servlet-name>
        <url-pattern>/SessionCambioBarra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProductoCategoriaController</servlet-name>
        <url-pattern>/BuscarProductoCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>close</servlet-name>
        <url-pattern>/close</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirCuenta</servlet-name>
        <url-pattern>/AbrirCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionIdMesaCerradasDescuento</servlet-name>
        <url-pattern>/SessionIdMesaCerradasDescuento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescuentoController</servlet-name>
        <url-pattern>/DescuentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarDescuentoCuenta</servlet-name>
        <url-pattern>/VerificarDescuentoCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteEmail</servlet-name>
        <url-pattern>/ReporteEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProductoAc</servlet-name>
        <url-pattern>/BuscarProductoAc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/ProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProducto</servlet-name>
        <url-pattern>/ActualizarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionReporte</servlet-name>
        <url-pattern>/SessionReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CopiaVenta_Comanda</servlet-name>
        <url-pattern>/CopiaVenta_Comanda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbriCuentasCerrarCuentas</servlet-name>
        <url-pattern>/AbriCuentasCerrarCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirComanda</servlet-name>
        <url-pattern>/ImprimirComanda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirTiket</servlet-name>
        <url-pattern>/ImprimirTiket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmindiaController</servlet-name>
        <url-pattern>/AdmindiaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarCuentasCero</servlet-name>
        <url-pattern>/CerrarCuentasCero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearArchivo</servlet-name>
        <url-pattern>/CrearArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adicionalesControlerxml</servlet-name>
        <url-pattern>/adicionalesControlerxml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adicionalesrejuxml</servlet-name>
        <url-pattern>/adicionalesrejuxml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adicionalesregrescos</servlet-name>
        <url-pattern>/adicionalesregrescos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprobarArchivo</servlet-name>
        <url-pattern>/comprobarArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprobarcomandaadicional</servlet-name>
        <url-pattern>/comprobarcomandaadicional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificarreporte</servlet-name>
        <url-pattern>/verificarreporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>Task.MyServletListener</listener-class>
    </listener>
    <!--<filter> 
        <filter-name>XSSFilter</filter-name> 
        <filter-class>com.cj.xss.XSSFilter</filter-class> 
    </filter>
    <filter-mapping> 
        <filter-name>XSSFilter</filter-name> 
        <url-pattern>/*</url-pattern> 
    </filter-mapping>-->
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
